[Desktop Entry]
Version=1.0.1
Type=Application
Name=NotNative
Comment=Personal Knowledge Management with AI
Exec=/opt/apps/NotNative-1.0.1.AppImage
Icon=notnative
Terminal=false
Categories=Office;Productivity;
StartupWMClass=NotNative